body {
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 80%;
	transition: width 3s;
}

.header, .uno{
	height: 30px;
	background-color: whitesmoke;
	padding-top: 3.7%;
	padding-left: 10%;
	font-family: 'Fredericka the Great', sans-serif;
	font-size: 5rem;
	color: hsl(1, 77%, 58%);
	text-align: left;
}

#playerNamesSubmit {
	background-color: hsl(208, 79%, 68%);
	color: #153c7c;
	font-weight: bold;
	animation: pulse 2s ease infinite;
}

.myRow {
	margin-top: 100px;
	background-color: whitesmoke;
}

.myContainerLeft {
	background-color: whitesmoke;
	margin-top: 12%;
	font-family: 'Fredericka the Great', sans-serif;
	font-size: 1.2rem;
}

.modal-body {
	background-color: hsl(208, 79%, 68%);
}

.modal-backdrop {
	background-color: hsl(208, 79%, 58%);
}

img {
	height: 10em;
	width: 6.66em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 6px;
}

.myRow {
	width:90%;
	margin: 4%;
	padding: 0%;
}

.stackCards {
	margin: 10%;
}

.stackCards p {
	width: 60%;
	padding-top: 10%;
}

#startButton, #validate {
	padding: 1em;
	color: hsl(208, 79%, 38%);
	text-align: center;
	font-weight: bold;
	border-radius: 0.5px;
}

.inputPlayerName {
	margin: 2em;
	padding: 1em;
	background-color: lightgray;
	border-style: none;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	border-style: none;
}

.namePlayer {
	background-color: whitesmoke;
	font-size: 15px;
	padding: 1em;
	border-radius: 2px;
	font-family: 'Fredericka the Great', sans-serif;
}

.myContainerRight {
	background-color: whitesmoke;
}

.player0, .player1, .player2, .player3 {
	background-color: whitesmoke;
	padding: 10px;
	margin-top: 17px;
}

#hand0 {
	border-top: 3px solid hsl(49, 98%, 60%);
}

#hand1 {
	border-top: 3px solid  hsl(123, 41%, 50%);
}

#hand2 {
	border-top: 3px solid hsl(208, 79%, 58%);
}

#hand3 {
	border-top: 3px solid hsl(1, 77%, 58%);
}

.hand0_hover:hover {
	background-color: hsl(49, 98%, 60%);
	border-radius: 10px;
}

.hand1_hover:hover {
	background-color:hsl(123, 41%, 50%);
	border-radius: 10px;
}

.hand2_hover:hover {
	background-color:  hsl(208, 79%, 58%);
	border-radius: 10px;
}

.hand3_hover:hover {
	background-color: hsl(1, 77%, 58%);
	border-radius: 10px;
}

#player0, #player1, #player2, #player3 {
	padding-left: 2%;
	font-size: 1.5rem;
}

.cardsPlayer {
	float: left;
	padding-top: 10px;
	padding-bottom: 12px;
}


.card {
	float: left;
	height: 120px;
	width: 80px;
	margin: 2px;
}

.card_hover:hover {	
	transform: scale(1.25);
	z-index: 1;
}

#colorChangeBody{
	background-color: white;
}

.colorChangeBox {
	height: 45px;
	width: 45px;
	border-radius: 3px;
	float: right;
	animation: pulse 3s ease infinite;
}

#Red {
	margin: 10px;
	background-color: hsl(1, 77%, 58%);
}

#Blue {
	margin: 10px;
	background-color: hsl(208, 79%, 58%);
}

#Yellow {
	margin: 10px;
	background-color: hsl(49, 98%, 60%);
}

#Green {
	margin: 10px;
	background-color: hsl(123, 41%, 50%);
}

.highlight {
	animation: pulse 2.5s ease infinite;
	font-weight: bolder;
	color: hsl(170, 35%, 20%);
}
  
@keyframes pulse {
	0% { transform: scale(1);}
	50% {transform: scale(1.2);}
	100% {transform: scale(1);}
}
  
#winnerBody {
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 3px;
	border: 2px solid hsl(208, 79%, 58%);
	animation: pulse 2.5s ease infinite;
}
